@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  font-family:Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board{
  text-align:center;
  margin:auto;
}

.winner{
  background: yellow;
  display: inline-block;
  padding: 8px 16px;
  margin: 10px;
  border-radius: 5px;
  position: relative;
  animation: X 2s infinite ease 0s alternate;
}

@keyframes X {
  from{
    transform: scale(.4);
    /* background: red; */
  }to{
    transform: scale(1.2);
    /* background: pink; */
  }
}

.board-row{
  display:flex;
  justify-content: center;
}

.btn{
  height:120px;
  width:120px;
  font-size: 50px;
  background: rgb(87, 226, 140);
  border: none;
  border-radius: 3px;
  margin: 3px;
  color: rgb(105, 105, 105);
}

.btn:hover{
  background: rgb(54, 139, 87);
  color: #fff;
}

.App{
  width:80%;
  margin:auto;
}

.header{
  text-align:center;
  font-size:40px;
}

.hide{
  display:none;
}


.reset{
  background: rgb(204, 83, 83);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  margin-top: 20px;
  font-weight: bold;
}

.reset:hover{
  background: rgb(255, 48, 48);
}

.hey{
  animation: hey 1s ease infinite alternate;
}

@keyframes hey {
  from{
    transform: rotatez(20deg);
  }to{
    transform: rotatez(-20deg);
  }
}